* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkred;
}

.container {
  width: 360px;
  height: 360px;
  background-color: antiquewhite;

}

.square {
  float: left;
  width: calc(100% / 6);
  height: calc(100% / 6);
  color: blue;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  cursor: pointer;
  align-items: center;

}

.template {
  display: none;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}
